@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .oval {
    border-radius: 100% / 50%;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 8rem;
  }

  input[type='range']:focus {
    outline: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 9999px;
    height: 0.25rem;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.5rem;
    background-color: #ffffff;
    border-radius: 9999px;
    height: 1.25rem;
    width: 1.25rem;
  }

  input[type='range']::-webkit-slider-thumb:hover {
    --tw-scale-x: 1.2;
    --tw-scale-y: 1.2;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  input[type='range']::-moz-range-track {
    background-color: #ffffff;
    border-radius: 9999px;
    height: 0.25rem;
  }

  input[type='range']::-moz-range-thumb {
    background-color: #ffffff;
    border: none;
    border-radius: 9999px;
    height: 1.25rem;
    width: 1.25rem;
  }

  input[type='range']::-moz-range-thumb:hover {
    --tw-scale-x: 1.2;
    --tw-scale-y: 1.2;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
